.col-12{
  display: block;
}

.btn-form{
  background: #ff8a65;
  color: #fff;
  text-align: center;
  padding: 15px 30px;
  cursor: pointer;
  border: none;
  width: 40%;
  margin: 0 5%;
}

.btn-form:hover{
  box-shadow: 0px 0px 4px 1px #636363;
}

.date-dropdown{
  width: 48%;
  margin: 0 1%;
}

.errorMessage{
  color: red;
}
