.restaurant-main-content{
  display: flex;
  box-shadow: 0px 0px 1px 1px #eee;
  border: 6px solid #fff;
  background: #eee;
  margin-top:3%;
}

.restaurant-container{
  margin: 15% auto auto auto;
  width:95%;
}

.image{
  flex:1;
  padding:5px;
}

.content{
  flex:2;
}

.detail{
  color: #333;
  font-size: 13px;
}

.title{
  color: #333;
}
